@model Dictionary<int,ViewProduct>

@{
    ViewData["Title"] = "Admin Panel - Product Management";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel - Product Management</title>
    <link rel="stylesheet" href="~/css/admin.css?v=1.1">
</head>
<body>
    <div class="top-buttons">
        <button onclick="window.location.href='@Url.Action("Users", "Admin")'">Users</button>
        <button onclick="window.location.href='@Url.Action("Orders", "Admin")'">Orders</button>
        <form asp-action="SignOut" asp-controller="Account" method="post">
            <button type="submit">Sign Out</button>
        </form>
    </div>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-fail">
            @TempData["ErrorMessage"]
        </div>
    }

    <h1>Add Product</h1>
    <form asp-controller="Admin" asp-action="AddProduct" method="post">
        <div class="form-data">
            <label class="data-label" for="productName">Product Name:</label>
            <input class="data-input" type="text" id="productName" name="name" required />
        </div>
        
        <div class="form-data">
            <label class="data-label" for="productDescription">Product Description:</label>
            <input class="data-input" type="text" id="productDescription" name="description" required />
        </div>
        

        <div class="form-data">
            <label class="data-label" for="productPrice">Product Price:</label>
            <input class="data-input" type="number" id="productPrice" name="price" step="0.01" required />
        </div>
       
        <div class="form-data">
            <label class="data-label" for="productQuantity">In the stock:</label>
            <input class="data-input" type="number" id="productQuantity" name="quantity" step="1" min="0" required />
        </div>
        
        <div>
            <button type="submit">Add Product</button>
        </div>
    </form>

    <h1>Products:</h1>
    <div id="productList">
        @foreach (var item in Model)
        {
            <div class="product">
                <h3>@item.Value.Name</h3>
                <p>@item.Value.Description</p>
                <p>Price: $@item.Value.Price</p>
                <p>Left in stock: @item.Value.Quantity</p>
                <form asp-controller="Admin" asp-action="Delete" method="post" style="display: inline;">
                    <input type="hidden" name="productId" value="@item.Key" />
                    <button type="submit" class="delete-button">Delete</button>
                </form>
                <button onclick="window.location.href='@Url.Action("Edit", "Admin", new { productId = item.Key })'">Edit</button>
            </div>
        }
        @if (!Model.Any())
        {
            <p>No products available.</p>
        }
    </div>
</body>
</html>
